.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg,
            rgba(238, 119, 82, 0.5),
            rgba(231, 60, 126, 0.5),
            rgba(231, 60, 126, 0.5),
            rgb(35, 213, 171, 0.5));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    .login-wrapper {
        width: 340px;
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);

        .login-title {
            text-align: center;
        }

        &.dark {
            background-color: rgba(0, 0, 0, 0.85);
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}