.animate-gradient {
    animation: gradient 15s ease infinite;
}

.login {
    @apply h-screen w-screen flex justify-center items-center bg-gradient-to-br from-red-400 via-pink-500 to-teal-300 animate-gradient;

    .loginWrapper {
        @apply w-80 backdrop-filter backdrop-blur-sm bg-white bg-opacity-90 rounded-lg border border-gray-300 dark:bg-black dark:bg-opacity-90;
    }

    .loginTitle {
        @apply text-center
    }

}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}